// title
@keyframes welcome-title-move-1
    0%
        opacity: 0
        transform: translateY(-600px) rotateZ(60deg)
    20%  
        opacity: 1
        transform: translateY(-350px) rotateZ(15deg)
    28%
        transform: translateY(-355px) rotateZ(18deg)
    95%
        box-shadow: none
        transform: translateY(0) rotateZ(0deg)
    100%
        opacity: 1
        transform: translateY(0) rotateZ(0deg)
        box-shadow: 0 0 8px #ccc

@keyframes welcome-title-move-2
    0%
        opacity: 0
        transform: translateY(-600px) rotateZ(-30deg)
    20%  
        opacity: 1
        transform: translateY(-300px) rotateZ(-10deg)
    28%
        transform: translateY(-305px) rotateZ(-13deg)
    95%
        box-shadow: none
        transform: translateY(0) rotateZ(0deg)
    100%
        opacity: 1
        transform: translateY(0) rotateZ(0deg)
        box-shadow: 6px 0 8px #ccc inset        

@keyframes welcome-title-move-3
    0%
        opacity: 0
        transform: translateY(-600px) rotateZ(20deg)
    20%  
        opacity: 1
        transform: translateY(-280px) rotateZ(4deg)
    28%
        transform: translateY(-285px) rotateZ(7deg)
    95%
        box-shadow: none
        transform: translateY(0) rotateZ(0deg)
    100%
        opacity: 1
        transform: translateY(0) rotateZ(0deg)
        box-shadow: -6px -6px 8px #ccc inset

@keyframes welcome-title-move-4
    0%
        opacity: 0
        transform: translateY(-600px) rotateZ(10deg)
    20%  
        opacity: 1
        transform: translateY(-320px) rotateZ(4deg)
    28%
        transform: translateY(-325px) rotateZ(0deg)
    95%
        box-shadow: none
        transform: translateY(0) rotateZ(360deg)
    100%
        opacity: 1
        transform: translateY(0) rotateZ(360deg)
        box-shadow: 0 6px 8px #ccc inset