@keyframes animate-motion-in
  0%
    transform: translateY(20px)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 1

.motion-in
  animation-name: animate-motion-in
  animation-duration: .4s
  animation-timing-function: ease
  animation-fill-mode: forwards
  opacity: 0


@keyframes animate-move-from-right
  from
    transform: translateX(20px)
    opacity: 0
  to
    transform: translateX(0)
    opacity: 1

.fade-in
  animation-name: animate-move-from-right
  animation-duration: .4s
  animation-timing-function: ease
  animation-fill-mode: forwards
  opacity: 0

.ani-float
  animation: animate-float 9.6s ease infinite

@keyframes animate-float
  0%
  100%
    transform: translateY(20px)
  50%
    transform: translateY(-20px)

@keyframes animate-fadein
  from
    transform: translateY(20%)
    opacity: 0
  to
    transform: translateY(0)
    opacity: 1

@keyframes animate-rotate
  from
    transform: rotate(0deg)
  to
    transform: rotate(-360deg)

@keyframes animate-shaker
  0%
  30%
  60%
  100%
    transform: rotate(0) scale(1)
  15%
  45%
    transform: rotate(12deg) scale(1.1)