html
  overflow-y: scroll
  user-select: none

body
html
ul
li
  margin: 0
  padding: 0
  font-size: 16px

li
  list-style: none

a
  text-decoration: none

@font-face
  font-family: ceviche
  src: url('../assets/ceviche.ttf')

#app
  position: absolute
  width: 100%
  height: 100%
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #666

.container
  padding: 2% 12% 8%
  box-sizing: border-box

.include
  pointer-events: none
  transition: .4s ease
  opacity: 0

  &.show
    pointer-events: auto
    opacity: 1

.tip
  margin: 5px 0
  font-size: 12px
  color: #a9a9a9

.edit
  margin-top: 6px
  font-size: 12px

.lb-101016
  background-image: url('../assets/lb-101016.jpg')

.lb-anniversary
  background-image: url('../assets/lb-anniversary.jpg')

.lb-election
  background-image: url('../assets/lb-election.jpg')

.lb-deepspace
  background-image: url('../assets/lb-deepspace.jpg')

.lb-lastorder
  background-image: url('../assets/lb-lastorder.jpg')

.lb-carnival2nd
  background-image: url('../assets/lb-carnival2nd.jpg')


@media screen and (max-width: 760px)
  .container
    padding: 0 0 10%
